/*@charset "utf-8";*/ 
* {
	margin: 0;
	padding: 0;
}

ul
li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}
.clearfix:after{
	clear: both;
	content: "";
	display: block;
}
.clearfix{*zoom: 1;}
.scrollBanner{
	position: relative;
	overflow: hidden;
	width: 1200px;
	height: 350px;
	margin: 0 auto;
}
.bannerBox{
	position: absolute;
	width: 10800px;
	/*共有8张图片，设置成9张图片的宽度*/
}
.bannerBox li{
	float: left;
	width: 1200px;
}
.bannerBox li a{
	font: bold 24px "microsoft yahei";
}
.bannerBox li a img{
	width: 100%;
	display: block;
}
.arr{
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	width: 50px;
	height: 80px;
	margin-top: -25px;
}
.arr_left{
	left: 0;
	background: url(img/prev.png) no-repeat left top;
}
.arr_right{
	right: 0;
	background: url(img/next.png) no-repeat left top;
}
.scroll_num{
	position: absolute;
    bottom: 10px;
    left: 50%;
    /*z-index: 99999;*/
    width: 180px;
    margin-left: -90px;
}

.scroll_num span{
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border: 1px solid saddlebrown;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.scroll_num span:hover{
	background: saddlebrown;
}
.scroll_num span:hover,
.scroll_num .current
{
	cursor: pointer;
	background: saddlebrown;
}