body {
  margin: 0;
  padding: 20px;
}
.hide {
  display: none;
}
.box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #e1e1e1;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #333;
}
.text {
  padding-bottom: 1px;
}

.text.origin {
  -webkit-line-clamp: 999;
  overflow: visible;
}
.btn {
  padding: 2px 4px;
  font-size: 12px;
  color: #fff;
  border: 0;
  background: #49a4ff;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(0.98);
}

.hide-btn .text {
  position: relative;
}
.hide-btn .text::after {
  /* 在文本末尾添加一个红色小方块，盖住展开按钮 */
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}
/* 收起按钮不能被遮挡，所以单独显示 */
.hide-btn2 .toggle:checked + .text::after {
  visibility: hidden;
}
