.form-horizontal .yi-form-row {
  margin-bottom: 20px;
  overflow: hidden;
  zoom: 1; }

.form-horizontal .form-label {
  float: left;
  padding-top: 5px;
  margin-right: 10px;
  width: 130px;
  color: #333B48;
  text-align: right; }
  .form-horizontal .form-label [class~="icon"] {
    font-size: 14px; }

.form-horizontal .form-input {
  margin-left: 140px;
  *margin-left: 0;
  overflow: hidden;
  zoom: 1; }
  .form-horizontal .form-input label {
    margin-right: 20px; }

.form-horizontal .yi-input {
  margin-right: 2px; }

.form-horizontal .form-action {
  *margin-left: 120px; }

.form-horizontal .input-chooser {
  margin-right: 17px; }

.form-horizontal .form-choice .form-label {
  margin-top: 0; }

.form-yzm .yi-input {
  width: 100px; }

.form-yzm .btn-primary:disabled {
  border-color: #F6F7F8;
  background: #F6F7F8;
  color: #9FACBF; }

.help-block {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #9FACBF; }
  .help-block .icon {
    margin-left: 1px; }

.help-inline-block {
  display: inline-block;
  font-size: 12px;
  color: #9FACBF; }

.form-search {
  margin-bottom: 20px;
  padding: 20px;
  background: #FBFCFD;
  position: relative;
  *zoom: 1;
  border: 1px solid #E5ECF1; }
  .form-search label {
    margin-right: 5px; }
  .form-search .to {
    margin: 0 5px; }
  .form-search button {
    margin-left: 15px; }
  .form-search .submit-part {
    width: 145px;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px; }
  .form-search .advanced-search {
    display: none;
    padding-top: 20px; }
  .form-search .yi-form-row {
    padding-top: 20px; }
    .form-search .yi-form-row:first-child {
      padding-top: 0; }
  .form-search .get-more-filter {
    cursor: pointer; }
    .form-search .get-more-filter .icon {
      position: relative;
      top: 2px; }
  .form-search .time-interval {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    top: 7px; }
  .form-search-open .submit-part {
    width: auto;
    position: static; }

.yi-search-bar {
  overflow: hidden; }
  .yi-search-bar .search-bar-inner {
    float: left; }
    .yi-search-bar .search-bar-inner input {
      width: 598px;
      padding: 11px 10px;
      float: left; }
    .yi-search-bar .search-bar-inner button {
      background: #2E85FF;
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      color: #fff; }
      .yi-search-bar .search-bar-inner button .icon {
        font-size: 20px; }
  .yi-search-bar button.primary {
    margin-left: 20px; }
    .yi-nodata {
  text-align: center;
  margin: 140px 0;
  color: #5E6E87; }
  .yi-nodata .icon {
    margin-right: 10px; }

.yi-errortip {
  font-size: 12px;
  color: #E74C3C;
  margin-top: 5px; }
  .yi-errortip .icon {
    margin-right: 5px; }

.inline-block {
  display: inline-block;
  margin: 0; }