.Wdate{
	height:17px;line-height:18px; overflow:hidden;padding-left:5px;margin-right:10px;
	
	background:#fff url(datePicker.gif) no-repeat 94px center;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
/* 
 * My97 DatePicker 4.7
 */

.WdateDiv{
	width:270px;
	background-color:#FFFFFF;
	border:#bbb 1px solid;
	padding:2px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:12px;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:24px;
	width:24px;
	margin-top: -2px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll 2px 5px;
}
.WdateDiv .NavImgll a:hover {
	background: url(img.gif) no-repeat scroll 2px 5px #4D73BF;
}
.WdateDiv .NavImgl a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll -14px 5px;
	margin-right: 15px;
}
.WdateDiv .NavImgl a:hover {
	background: url(img.gif) no-repeat scroll -14px 5px #4D73BF;
}
.WdateDiv .NavImgr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -28px 5px;
}
.WdateDiv .NavImgr a:hover {
	background: url(img.gif) no-repeat scroll -28px 5px #4D73BF;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -44px 5px;
}
.WdateDiv .NavImgrr a:hover {
	background: url(img.gif) no-repeat scroll -44px 5px #4D73BF;
}
.WdateDiv #dpTitle{
	height:24px;
	margin-bottom:2px;
	background:#2e85ff;
	padding: 8px 9px 4px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:1px #fff solid;
	width:54px;
	cursor:pointer;
	color:#333b48;	
	border-radius: 1px;
	margin:0 4px;
}
.WdateDiv .yminput:first-child {
	margin-left: 50px;
}
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:1px #fff solid;
	width:54px;
	cursor:pointer;
	font-weight:bold;
	color:#6c6c6c;	
	border-radius: 1px;
	margin:0 4px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#2e85ff 1px solid;
	display:none;
	padding:5px;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#4d73bf;
	color: #fff;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#99c8eb 1px solid;
 }

.WdateDiv .MTitle{
	color:#333b48;
	font-weight:bold;
	background:#eceff3;
}
.WdateDiv .MTitle td {
	line-height: 24px;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#c5d9e8 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:32px;
	/*border:#c5d9e8 1px solid;
	border-width:1px 1px 0 0;*/
}
.WdateDiv .WdayTable td{
	text-align:center;
	color: #333b48;
	/*border:1px #ccc solid;
	border-width:0 0 1px 1px;*/
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#529aff;
	color: #fff!important;
}

.WdateDiv .Wwday{
	cursor:pointer;
	/*color:#FF2F2F;*/
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#fff;
	background-color:#4d73bf;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#2e85ff;
	color:#fff!important;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#cfd5df!important;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#529aff;
	color: #fff!important;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;	
	padding-bottom: 5px;
	padding-right: 5px;
}
.WdateDiv .dpButton{ 
	height:24px;
	width:60px;
	border:0;
	margin-top:2px;
	margin-right:1px;
	background:#2e85ff;
	color:#fff;
	border-radius: 1px;
	cursor: pointer;
}
.WdateDiv #dpTodayInput {
	margin: 0 4px;
}

/*
add 2016-7-15
*/

.WdateDiv #dpControl {
    /* border: 1px red solid; */
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 3px;
}
.WdateDiv .dpButton {

    float: none;    
    margin-top: 2px;

}
.WdateDiv #dpTime{
     
    margin-left: 80px;
}
#dpTime table tr:first-child td:first-child{
    
    border-right:1px #ccc solid; 
}
.WdateDiv #dpControl{
    overflow:hidden;
    width:100%;
    overflow:visible\9;
    width: 100%\9;   
}
.WdateDiv .dpButton{
    float:none\9;
    display:inline-block\9;
}
.WdateDiv #dpTime .tE:last-child{
    border-right:1px #ccc solid\9;
}
